a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}

.tips {
  width: 13%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: absolute;
  top: 1%;
  left: 1%;
  box-shadow: 1px 2px 1px 1px #9d9d9d;
}
.tips .search {
  color: red;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.tips .search2 {
  color: rgb(245, 110, 110);
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.tips .copyJson {
  color: #409eff;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.close_search {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #409eff;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  position: fixed;
  right: 5%;
  bottom: 50%;
  transform: translateY(-50%);
  z-index: 999;
  cursor: pointer;
  display: none;
}

.big_box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time_textarea {
  width: 60%;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 6px #838383;
}
#container {
  width: 50%;
  color: red;
  text-align: center;
}
#container2 {
  margin-top: 30px;
  width: 50%;
  color: rgb(50, 50, 247);
  font-size: 14px;
  text-align: center;
}
.btn_box {
  max-width: 45%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.btn_box .btn {
  width: 46%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #409eff;
  font-size: 12px;
  color: #fff;
  box-shadow: 1px 2px 2px 1px #555555;
}
.submit {
  max-width: 45%;
  width: 21%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #409eff;
  font-size: 12px;
  color: #fff;
  box-shadow: 1px 2px 2px 1px #555555;
}
.submit:active {
  border: 2px solid rgb(72, 255, 0);
}
#weeks_btn:focus {
  border: 2px solid #aa00f8;
}
#weekend_btn:focus {
  border: 2px solid #aa00f8;
}

.img_box {
  display: none;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}
.img_box img {
  width: 100%;
  margin-bottom: 10px;
}

.show_model {
  border-radius: 10px;
  width: 15%;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-shadow: 0 0 10px #838383;
}
.show_model .model_title {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.show_model .model_content {
  padding: 0 10px 10px 10px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.show_model .model_btn_box {
  width: 100%;
  border-top: 1px solid #cdcbcb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show_model .model_btn_box .model_cancel {
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  width: 50%;
  height: 40px;
  border: none;
  /* border-radius: 5px; */
  /* background-color: #409eff; */
  font-size: 12px;
  color: #000;
}
.show_model .model_btn_box .model_confirm {
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  width: 50%;
  height: 40px;
  border-left: 1px solid #cdcbcb;
  /* border-radius: 5px; */
  /* background-color: #409eff; */
  font-size: 12px;
  color: #000;
}
.date_box {
  width: 20%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date_box .describe {
  font-size: 14px;
}
.date_box .ipt_date {
  width: 45%;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 25px;
}
.table_box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: none;
}
.table_box table {
  width: 100%;
  border-collapse: collapse;
}
.table_box table th {
  border: 1px solid #ccc;
  padding: 5px 0;
  font-size: 14px;
}
.table_box table > thead > tr > th {
  background-color: #cce;
  /* font-size: 18px; */
  /* border: 2px solid #999; */
}
/* 偶数行样式 */

.table_box table tbody tr:nth-child(2n - 1) {
  /* 设置表格的tr背景颜色每一行都颜色不同 */
  background-color: rgb(195, 248, 255);
}

/* dialog::backdrop {
  background-color: rgba(255, 0, 0, 0.116);
} */
dialog {
  width: 23%;
  border: none;
  border-radius: 8px;
  padding: 0px;
  /* 立体感 */
  box-shadow: 0 0 20px #838383;
  transition: opacity 0.4s ease;
  opacity: 1;
}

dialog:not([open]) {
  display: block;
  opacity: 0;
  visibility: hidden;
}
.dialog_box .dialog_title {
  padding: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
}
.dialog_box .dialog_content {
  padding: 0 20px 10px 20px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.dialog_box .dialog_btn_box {
  width: 100%;
  border-top: 1px solid #cdcbcb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialog_box .dialog_btn_box .dialog_cancel {
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  width: 100%;
  height: 40px;
  border: none;
  font-size: 12px;
  color: #000;
}
